name: Sync to Gitee

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Gitee
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          
          git remote add gitee https://oauth2:${{ secrets.GITEE_TOKEN }}@gitee.com/Yuuine/yuuine.gitee.io.git
          
          git push -f gitee HEAD:${{ github.ref_name }}